
//COLORS
$white-color:#fff;
$color-gray-light: #EEEDED;
$color-gray-light2: #f7f7f7;
$color-gray-dark: #777;
$color-gray-dark-2: #333;
$color-gray-dark-3: #222;


$color-gray-light-3: rgb(206, 205, 205);

$color-black:#000;
$color-red: #f00;
$color-white: #fff;
$color-green-light: #43CF0B;
$color-green-dark: #218613;
$color-primary: #44BE7E;
$color-blue-dark: #045F9C;
$color-blue-light: #0784D8;

$color-orange-dark: #CC6007;
$color-orange-light: #F09206;




//font
$default-font-size: 1.6rem;


//GRID
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;