.navigation {

    &__checkbox {
        display: none;
    }

    &__label {
        width: 7rem;
        height: 7rem;
        background-color: $white-color;
        position: fixed;
        top: 7rem;
        right: 6.5rem;
        display: inline-block;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);


        @include respond("phone") {
            top: 4rem;
            right: 4.5rem;
        }
    }

    &__background {
        width: 6rem;
        height: 6rem;
        background-image: radial-gradient(rgba(126, 213, 111,1) 0%,rgba(40, 180, 131,1) 30%);
        position: fixed;
        top: 7.5rem;
        right: 7rem;
        border-radius: 50%;
        z-index: 1000;
        transition: transform .8s; //for transform of background (scale)

        @include respond("phone") {
            top: 4.5rem;
            right: 5rem;
        }

    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(.58,-.36,.39,1.25); //for transform of nav (width,opacity)
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    &__item {
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 3rem;
        font-weight: 300;
        color: $white-color;
        text-transform: uppercase;
        padding: 2rem 3rem;
        display: inline-block;
        background-image: linear-gradient(105deg,transparent 0%,transparent 50%,$white-color 50%);
        background-size: 220%;
        transition: all .5s;
        
        &:hover {
            background-position: 100%; //right
            color: $color-primary;
            // transform: translateX(15px);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        margin-top: 3.5rem;
        position: relative;
        &,
        &::after,
        &::before {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-black;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: transform .2s; //for rotation in hover on label 
            transform-origin: center;  //ثابت من المنتصف وبيتحرك حوله
        }

        &::before {
            top: -7px;
        }

        &::after {
            top: 7px;
        }

       
    }

    &__label:hover &__icon::before { //icon is son of label
        top: -9px;
    }

    &__label:hover &__icon::after {  
        top: 9px;
    }

    &__checkbox:checked + &__label &__icon {
         background-color: transparent;
    }

    &__checkbox:checked + &__label &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__label &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}